default:
  image: python:3.12-slim
  before_script:
    - apt-get update
    - apt-get install --no-install-recommends -y libgl1-mesa-glx libglib2.0-dev
    - python --version ; pip --version
    - pip install poetry
    - poetry config virtualenvs.create false
    - poetry install
  retry: 2

stages:
  - lint
  - test
  - pre_commit
  - coverage

lint:
  stage: lint
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE != "merge_request_event"
      changes:
        paths:
          - "src/**/*"
        compare_to: "main"
  script:
    - poetry run flake8 src/

mypy:
  stage: lint
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE != "merge_request_event"
      changes:
        paths:
          - "src/**/*"
        compare_to: "main"
  script:
    - poetry run mypy src/

test:
  stage: test
  script:
    - poetry run pytest --cov
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE != "merge_request_event"

pre_commit:
  stage: pre_commit
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  script:
    - poetry run flake8 src/
    - poetry run mypy src/
    - poetry run pytest --cov --cov-fail-under=90 --cov-report term --cov-report xml:coverage.xml
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

coverage:
  stage: coverage
  script:
    - poetry run pytest --cov --cov-report term --cov-report xml:coverage.xml
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
